<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-font">Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <br>
    <img class="center" src="/assets/me.png" />
    <ion-card-header>
      <ion-card-title>DEVALDI AKBAR SURYADI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      SICAL singkatan dari Simple Calculator, adalah aplikasi buatan penulis dengan tujuan membantu manusia dalam melakukan perhitungan standar yang saat ini hanya mampu seperti tambah, kurang, kali, bagi, persen, plus, minus serta menghapus nominal yang akan penulis kembangkan seiring berjalannya waktu. Aplikasi ini dibuat dengan bantuan framework Ionic versi 5 dengan bahasa Angular, serta penulis menggunakan code editor visual Studio Code.
    </ion-card-content>
  </ion-card>
  
</ion-content>